# $project$

Enter the description of your project here.
{% if readme_type == "short" %}
This is a short one
Folders will be like: $project__underscore$
{% else %}
This is a long one
Folders will be like: $project__underscore$

$summary$
{% endif %}
Tera template has been conditionally rendered.
