[
    {
        "caption": "Preferences",
        "mnemonic": "n",
        "id": "preferences",
        "children":
        [
            {
                "caption": "Package Settings",
                "mnemonic": "P",
                "id": "package-settings",
                "children":
                [
                    {
                        "caption": "$project$",
                        "children":
                        [
                            {
                                "command": "edit_settings", "args": {
                                    "base_file": "${packages}/$project$/$project$.sublime-settings",
                                    "default": "{\n$0\n}\n"
                                },
                                "caption": "Settings"
                            },
                            { "caption": "-" }
                        ]
                    }
                ]
            }
        ]
    }
]
