# $project$

[Sublime Text](https://www.sublimetext.com/) plugin that $plugin_description$

![]()

## Installation

- Open the command palette with `CMD + SHIT + P`
- Select `Package Control: Add Repository`
- Enter https://github.com/ssanj/$project$ for the repository
- Select `Package Control: Install Package`
- Choose $project$


## Functionality


**TODO**
